@page "/grdg"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My .NET Web Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #121212;
            color: white;
        }

        .rounded-container {
            border-radius: 16px;
            background-color: #1e1e1e;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <!-- Header Section -->
        <div class="d-flex justify-content-between align-items-center border-bottom pb-3 rounded-container">
            <h1>Matthew Kenyon</h1>
            <p class="text-end">Welcome to this demo page showcasing different sections.</p>
        </div>

        
        





        <!-- Sections -->
        <div class="mt-4">
            <div class="border p-4 mb-4 rounded-container">
                <!-- Section Header -->
                <div class="d-flex justify-content-between align-items-center mb-3">

                    <h3>Castle Climbers</h3>
                    <div>
                        <img src="../Images/Unity Icon.webp" style="width: 50px; height: 50px; margin-right: 18px;" alt="Small Image">
                        <img src="../Images/C Icon.png" style="width: 45px; height: 50px;  margin-right: 10px;" alt="Small Image">
                        <img src="../Images/Firebase Icon.png" style="width: 55px; height: 55px;  margin-right: -5px;" alt="Small Image">
                        <img src="../Images/Javascript Icon.webp" style="width: 65px; height: 65px;  margin-right: 2px;" alt="Small Image">
                        <img src="../Images/Xcode Icon.webp" style="width: 64px; height: 64px; margin-right: 10px;" alt="Small Image">
                        <img src="../Images/App Store Icon.png" style="width: 50px; height: 50px;" alt="Small Image">

                    </div>
                </div>
                <!-- Content -->
                <div class="d-flex">
                    <img src="../Images/Castle Climbers Cover.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <h6 style="color: white; font-weight: bold;">Unity Development</h6>
                        <p>
                            Castle Climbers is a Unity app that is my biggest project to date. It makes use of procedurally generating terrain to create
                            an infinite scrolling world that immerses the user, and requires them to climb up through the platforms in the world in an evolving and more challenging environment, with different themes and environments.

                            <br /><br />

                            The game includes achievements to unlock, characters and more to purchase, stats to show and share
                            The project contains many designs and sprites that were all created by myself, and includes music created with other users that I collaborated with, to make a completely immersive experience.
                        </p>
                    </div>

                </div>

                <div class="d-flex">

                    <div>
                        <h6 style="color: white; font-weight: bold;">Backend Server</h6>
                        <p>
                            The application makes use of firebase to host a backend server, which provides functionality like global leaderboards, daily challenges, stats and more, so that users can connect and compete with each other. Javascript is used
                            on a server on my own PC to refresh the daily and weekly objectives, and manage the database so it is kept well structures and clean.
                        </p>
                        <h6 style="color: white; font-weight: bold;">Release and Analytics</h6>
                        <p>
                            The app was my first project to be released on the App Store through the use of Xcode, and was received well, gaining 183 downloads and a very active leaderboard throughout its lifetime.
                        </p>
                    </div>
                    <img src="../Images/Castle Climbers Cover.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                </div>
                <div class="container mt-4">
                    <div class="row text-center">
                        <div class="col text-white p-3 rounded">
                            <h5>Downloads</h5>
                            <p class="text-white">183</p>
                        </div>
                        <div class="col text-white p-3 rounded">
                            <h5>Rating</h5>
                            <p class="text-white">4.9 out of 5</p>
                        </div>
                        <div class="col text-white p-3 rounded">
                            <h5>Total Games Played</h5>
                            <p class="text-white">2,361</p>
                        </div>
                        <div class="col text-white p-3 rounded">
                            <h5>Total Play Time</h5>
                            <p class="text-white">87.18 hours</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="mt-4">
            <div class="border p-4 mb-4 rounded-container">
                <!-- Section Header -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3>Bucket Connect</h3>
                    <div>
                        <img src="../Images/Flutter Icon.png" style="width: 50px; height: 50px; margin-right: 10px;" alt="Small Image">
                        <img src="../Images/Dart Icon.webp" style="width: 40px; height: 40px; margin-right: 10px;" alt="Small Image">
                        <img src="../Images/Firebase Icon.png" style="width: 50px; height: 50px; margin-right: 10px;" alt="Small Image">
                        <img src="../Images/App Store Icon.png" style="width: 50px; height: 50px;" alt="Small Image">
                    </div>
                </div>
                <!-- Content -->
                <div class="d-flex">
                    <img src="../Images/Bucket Connect web cover.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <h6 style="color: white; font-weight: bold;">Flutter Development</h6>
                        <p>
                            Bucket Connect was the first big social media app i developed. It is an app that allows the user to create numerous lists, each with their own title, description and header image. The user can then post images and title them with activities
                            they want to complete within their lifetime. These events will then be shown in the list, and can be crossed off when complete, which will then be highlighted with their date of completion.
                        </p>
                        <h6 style="color: white; font-weight: bold;">Achievements</h6>
                        <p>
                            There are certain achievements to push the user to dream big and add lots of bucket list events, and also overall progression screens showing how close they are to completing their bucket lists.
                        </p>
                    </div>
                </div>

                <div class="d-flex">
                    <div>
                        <h6 style="color: white; font-weight: bold;">Connecting with friends</h6>
                        <p>
                            Bucket list also has backend functionality through firebase, which allows friends to connect with each other through the use of friend requests, and share their lists and progression.
                            <br /><br />
                            There is also the option to create public bucket lists and download these lists from other users into their folder, making it easier to create lists, and also to help inspire others to find new once in a lifetime activities to complete.
                        </p>
                    </div>
                    <img src="../Images/Bucket Connect Cover.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                </div>

                <div class="container mt-4">
                    <div class="row text-center">
                        <div class="col text-white p-3 rounded">
                            <h5>Downloads</h5>
                            <p class="text-white">150</p>
                        </div>
                        <div class="col text-white p-3 rounded">
                            <h5>Rating</h5>
                            <p class="text-white">5.0 out of 5</p>
                        </div>
                        <div class="col text-white p-3 rounded">
                            <h5>Total Lists Created</h5>
                            <p class="text-white">130</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sections -->
        <div class="mt-4">
            <div class="border p-4 mb-4 rounded-container">
                <!-- Section Header -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3>Girls Who Walk</h3>
                    <div>
                        <img src="../Images/Unity Icon.webp" style="width: 50px; height: 50px; margin-right: 18px;" alt="Small Image">
                        <img src="../Images/C Icon.png" style="width: 45px; height: 50px;  margin-right: 10px;" alt="Small Image">
                        <img src="../Images/Firebase Icon.png" style="width: 50px; height: 50px; margin-right: 10px;" alt="Small Image">
                        <img src="../Images/App Store Icon.png" style="width: 50px; height: 50px;" alt="Small Image">
                    </div>
                </div>
                <!-- Content -->
                <div class="d-flex">
                    <img src="../Images/GWW Icon.jpg" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <h6 style="color: white; font-weight: bold;">First Social Media Application</h6>
                        <p>
                            Girls Who Walk was the first social media application I made, and as I was familiar with Unity I used it, however I quickly realised there were better apps for such development, which
                            is why I expanded out to using Flutter with Dart.
                        </p>
                    </div>
                </div>
                <div class="container mt-4">
                    <div class="row text-center">
                        <div class="col text-white p-3 rounded">
                            <h5>Downloads</h5>
                            <p class="text-white">64</p>
                        </div>
                        <div class="col text-white p-3 rounded">
                            <h5>Rating</h5>
                            <p class="text-white">-</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sections -->
        <div class="mt-4">
            <div class="border p-4 mb-4 rounded-container">
                <!-- Section Header -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3>Hand Rehabilitation Game</h3>
                    <div>
                        <img src="../Images/Unity Icon.webp" style="width: 50px; height: 50px; margin-right: 15px;" alt="Small Image">
                        <img src="../Images/C Icon.png" style="width: 45px; height: 50px; margin-right: 10px;" alt="Small Image">
                        <img src="../Images/Pycharm Icon.png" style="width: 50px; height: 50px; margin-right: 10px;" alt="Small Image">
                        <img src="../Images/OpenCV Icon.png" style="width: 50px; height: 50px;" alt="Small Image">
                    </div>
                </div>
                <!-- Content -->
                <div class="d-flex">
                    <img src="../Images/Hand Copy Cover.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <h6 style="color: white; font-weight: bold;">First Game for Health</h6>
                        <p>
                            For my dissertation project, I created a Game for Health for the rehabilitation of hand movement post Stroke. This involved doing a large amount of background research into understanding stroke, its causes and its effects on the body. It also
                            included research into various similar games that have been created for similar reasons, as well as learning about the types of technologies that can track hand movements, and how to make them efficient and work properly so to give the smoothest
                            experience possible to the user.

                            <br /><br />

                            The game made use of Open CV with PyCharm to track the hands and feed this data into Unity to be used in Game Objects.
                        </p>

                    </div>
                </div>
                <div class="d-flex">
                    <div>
                        <h6 style="color: white; font-weight: bold;">Minigames</h6>
                        <p>
                            The game consists of 4 sets of 2 minigames, organised into 4 main movements of the hand; wrist circumduction, thumb opposition, finger flexion and extension, and finger abduction and adduction. These movements are the main ways the fingers and hands
                            complete their functionality. The colour scheme highlights the sections, as well as keeping the game colourful to increase attention level, memory retention and helps to stay alert physically and internally.

                            <br /><br />

                            The games are all different, with some requiring the user to mirror the screen, while others require following patters or grabbing objects falling from the screen.
                        </p>
                    </div>
                    <img src="../Images/Game for Health 2.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                </div>
                <div class="d-flex">
                    <img src="../Images/Games for Health 3.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <h6 style="color: white; font-weight: bold;">Analysis</h6>
                        <p>
                            The analysis was the key point of the game, as the user was presented their progress to show they were improving. Each game has an ending screen detailing how they did compared to the average, however this feedback is always kept positive and encouraging and never meant
                            to bring the user down.

                            <br /><br />

                            The data is also shown in graphs so it is easier to digest. If the user is doing well, the games get more challenging to push them to do their best, but never push them too far so they are struggling and unable to proceed.
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <!-- Sections -->
        <div class="mt-4">
            <div class="border p-4 mb-4 rounded-container">
                <!-- Section Header -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3>Receipt Scanner</h3>
                    <div>
                        <img src="../Images/Flutter Icon.png" style="width: 50px; height: 50px; margin-right: 10px;" alt="Small Image">
                        <img src="../Images/Dart Icon.webp" style="width: 40px; height: 40px; margin-right: 10px;" alt="Small Image">
                        <img src="../Images/Google Cloud.png" style="width: 50px; height: 40px; margin-right: 10px;" alt="Small Image">
                        <img src="../Images/Google Document AI.png" style="width: 40px; height: 40px;" alt="Small Image">
                    </div>
                </div>
                <!-- Content -->
                <div class="d-flex">
                    <img src="../Images/Receipt Table.webp" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <h6 style="color: white; font-weight: bold;">Utilising AI</h6>
                        <p>
                            I developed a receipt scanner app using AI to extract and display key details from receipts within the application, taken from the camera or the camera roll.
                            This project was primarily an experiment to explore the rapidly advancing capabilities and applications of AI. I utilised
                            Google Cloud’s Document AI and also explored Microsoft’s Azure AI services. Initially, I intended to release the app on the app store,
                            but due to the high costs associated with Document AI’s functionality, I decided to keep the project private and disable the document AI processor.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Sections -->
        <div class="mt-4">
            <div class="border p-4 mb-4 rounded-container">
                <!-- Section Header -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3>Car Game</h3>
                    <div>
                        <img src="../Images/Unity Icon.webp" style="width: 50px; height: 50px;" alt="Small Image">
                        <img src="../Images/C Icon.png" style="width: 45px; height: 50px;" alt="Small Image">
                    </div>
                </div>
                <!-- Content -->
                <div class="d-flex">
                    <img src="../Images/Car Game.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <h6 style="color: white; font-weight: bold;">Small Arcade Game</h6>
                        <p>
                            This game was a small arcade game developed for the phone. The user had to tap on the red cars to get points and avoid the other colours or they would lose lives. The cars speed up over time, making it harder to keep an eye
                            on all four lanes.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sections -->
        <div class="mt-4">
            <div class="border p-4 mb-4 rounded-container">
                <!-- Section Header -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3>Live List</h3>
                    <div>
                        <img src="../Images/Flutter Icon.png" style="width: 50px; height: 50px;" alt="Small Image">
                        <img src="../Images/Dart Icon.webp" style="width: 40px; height: 40px;" alt="Small Image">
                    </div>
                </div>
                <!-- Content -->
                <div class="d-flex">
                    <img src="../Images/Festival.jpg" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <h6 style="color: white; font-weight: bold;">Another Social Media Application</h6>
                        <p>
                            This app was made in Flutter and was a very simple one page social media app that allows the user to enter their favourite bands and live music they have gone to see, and
                            it will keep an ordered list of the bands, so users could see who they have seen and how many times, as well as seeing who they are yet to see live.
                        </p>
                    </div>
                </div>
            </div>
        </div>




        <!-- Sections -->
        <div class="mt-4">
            <div class="border p-4 mb-4 rounded-container">
                <!-- Section Header -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex align-items-center">
                        <img src="../Images/Newcastle Icon.png" style="width: 25px; height: 30px; margin-right: 10px;" alt="Game Icon">
                        <h3>University Game</h3>
                    </div>
                    <div>
                        <img src="../Images/Cmake.png" style="width: 50px; height: 50px;" alt="Small Image">
                        <img src="../Images/C+ Icon.png" style="width: 50px; height: 50px;" alt="Small Image">
                    </div>
                </div>
                <!-- Content -->
                <div class="d-flex">
                    <img src="../Images/Uni Game 1.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <h6 style="color: white; font-weight: bold;">Small Arcade Game</h6>
                        <p>
                            This top down shooter, inspired by "The Binding of Isaac", was another project designed for University. It included keyboard and mouse control with the player, advanced collision detection and physics, as well as advanced
                            AI pathfinding. It also had an adaptive difficulty, with enemies getting stronger and being equipped with more deadly weaponry as time passed.

                            <br /><br />

                            It also had an evolving world, with the use of procedurally generating rooms, which kept the gameplay interesting. This could be seen on the minimap, which helped show the areas the user explored.

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sections -->
        <div class="mt-4">
            <div class="border p-4 mb-4 rounded-container">
                <!-- Section Header -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex align-items-center">
                        <img src="../Images/Newcastle Icon.png" style="width: 25px; height: 30px; margin-right: 10px;" alt="Game Icon">
                        <h3>University Unity Graphics</h3>
                    </div>
                    <div>
                        <img src="../Images/Unity Icon.webp" style="width: 50px; height: 50px;" alt="Small Image">
                    </div>
                </div>
                <!-- Content -->
                <div class="d-flex">
                    <img src="../Images/Uni Unity Scene.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <h6 style="color: white; font-weight: bold;">Working with Graphics</h6>
                        <p>
                            This was a project in University that required to make a scene in Unity using a variety of features, including particle systems, shaders, blur and bloom effects,
                            terrain generation and design, and transformations, which all brought the game world to life.
                            <br /><br />
                            The framerate that the game ran at and the memory it used up were important
                            to keep optimal, as this provided the best experience to move round and experience the scene.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sections -->
        <div class="mt-4">
            <div class="border p-4 mb-4 rounded-container">
                <!-- Section Header -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex align-items-center">
                        <img src="../Images/Newcastle Icon.png" style="width: 25px; height: 30px; margin-right: 10px;" alt="Game Icon">
                        <h3>University Scene</h3>
                    </div>
                    <div>
                        <img src="../Images/Cmake.png" style="width: 50px; height: 50px;" alt="Small Image">
                        <img src="../Images/C+ Icon.png" style="width: 50px; height: 50px;" alt="Small Image">
                    </div>
                </div>
                <!-- Content -->
                <div class="d-flex">
                    <img src="../Images/Scene.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <h6 style="color: white; font-weight: bold;">Scene Render</h6>
                        <p>
                            I developed and rendered a scene in Cmake with many core and advanced features. These include rendering the landscape, ambient, diffuse
                            and specular lighting, environment mapping through reflections, camera and work with meshes, textures and shaders.

                            <br /><br />
                            There were a number of advanced features too, such as post-processing effects like blurring, real time shadows, multiple viewpoints through
                            splitscreens, and environmental effects like rain.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sections -->
        <div class="mt-4">
            <div class="border p-4 mb-4 rounded-container">
                <!-- Section Header -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex align-items-center">
                        <img src="../Images/Newcastle Icon.png" style="width: 25px; height: 30px; margin-right: 10px;" alt="Game Icon">
                        <h3>University Game</h3>
                    </div>
                    <div>
                        <img src="../Images/Cmake.png" style="width: 50px; height: 50px;" alt="Small Image">
                        <img src="../Images/C+ Icon.png" style="width: 50px; height: 50px;" alt="Small Image">
                    </div>
                </div>
                <!-- Content -->
                <div class="d-flex">
                    <img src="../Images/Scene 2.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <h6 style="color: white; font-weight: bold;">Advanced Features</h6>
                        <p>
                            I developed a 3D game through Cmake with many core and advanced features. These invlude the ability to control the player, multiple
                            types of collision detection paired with raycasting, AI pathfinding, state machines and UI attributes. These all come together to allow
                            the player to move the character around in various puzzles and past enemies, and collect items.
                            <br /><br />

                            This was the first project I implemented networking, allowing lobbies to be set up between users on different devices, and adding
                            multiplayer functionality into the game through a server set up from the host.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sections -->
        <div class="mt-4">
            <div class="border p-4 mb-4 rounded-container">
                <!-- Section Header -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex align-items-center">
                        <img src="../Images/Newcastle Icon.png" style="width: 25px; height: 30px; margin-right: 10px;" alt="Game Icon">
                        <h3>Interactive Environment Map</h3>
                    </div>
                    <div>
                        <img src="../Images/Unity Icon.webp" style="width: 50px; height: 50px;" alt="Small Image">
                    </div>
                </div>
                <!-- Content -->
                <div class="d-flex">
                    <img src="../Images/World 1.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <h6 style="color: white; font-weight: bold;">Small Arcade Game</h6>
                        <p>
                            The interactive map was made as a group project to highlight the concerns of plastic and water pollution across the globe. The map provides an interactive interface
                            allowing the user to click on countries and find out more about their levels of pollution, which is also highlighted through colour coding, with a key in the bottom right.

                            <br /><br />

                            The seas and oceans were also interactive, detailing their size and the endangered animals that inhabit them, highlighting the effect of pollution across the world. This was then
                            integrated into a webpage that was presented, highlighting the issues shown in the map in greater detail.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <div class="border p-4 mb-4 rounded-container">
                <!-- Section Header -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex align-items-center">
                        <img src="../Images/Newcastle Icon.png" style="width: 25px; height: 30px; margin-right: 10px;" alt="Game Icon">
                        <h3>University Group Game</h3>
                    </div>
                    <div>
                        <img src="../Images/Cmake.png" style="width: 50px; height: 50px;" alt="Small Image">
                        <img src="../Images/C+ Icon.png" style="width: 50px; height: 50px;" alt="Small Image">
                        <img src="../Images/Epic Games Icon.png" style="width: 50px; height: 50px;" alt="Small Image">
                        <img src="../Images/Github Icon.png" style="width: 50px; height: 50px;" alt="Small Image">
                    </div>
                </div>
                <!-- Content -->
                <div class="d-flex">
                    <img src="../Images/Scene 2.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sections -->
        <div class="mt-4">
            <div class="border p-4 mb-4 rounded-container">
                <!-- Section Header -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3>Web App</h3>
                    <div>
                        <img src="../Images/Blazor Icon.png" style="width: 50px; height: 50px;" alt="Small Image">
                        <img src="../Images/Net.png" style="width: 50px; height: 50px;" alt="Small Image">
                    </div>
                </div>
                <!-- Content -->
                <div class="d-flex">
                    <img src="../Images/Web.png" style="width: 426px; height: 240px;" class="me-3 rounded-4" alt="Main Image">
                    <div>
                        <h6 style="color: white; font-weight: bold;">Small Arcade Game</h6>
                        <p>
                            This was a web app developed to present all of my deployed apps to help them gain traction. The web app uses interactive
                            attributes through buttons to make the pages a lot more interactive.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
