@page "/"

<style>
    * {
        margin: -8px;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        margin: -8px;
        padding: 0;
        height: 100%;
        width: 102%;
        overflow-x: hidden; /* ← Prevent horizontal scroll */
        font-family: 'Segoe UI', sans-serif;
        background-color: #1e1e1e;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .hero-section {
        width: 100%; /* or fixed width */
        padding-top: 56.25%; /* (9 / 16) * 100% = 56.25% height relative to width */
        background-image: url('Images/Website Cover.png');
        background-size: cover;
        background-position: 30% top;
        background-repeat: no-repeat;
    }


}

</style>

<div class="hero-section"></div>
